In [1]:
import pandas as pd

In [31]:
jobs = pd.read_csv("../data/jobs.csv")
jobs

,title,introduction,description,profile,we_offer,gehalt_min_yearly,gehalt_max_yearly
0,(Junior) Data Scientist (m/w/d),Wir suchen in Voll- oder Teilzeit Wir suchen ...,Entwicklung und Implementierung von Algorith­m...,Berufserfahrung im oben genannten Aufgaben­ber...,Freie Hardwarewahl nach deinen Wünschen inkl. ...,48384,68712
1,Junior Data Scientist (m/w/d),TUI Cruises ist einer der führenden Kreuzfahrt...,"Du analysierst große, komplexe Datensätze mit ...",Bachelor Abschluss in (Wirtschafts-)Informatik...,Eine flexible Arbeitszeitkultur mit zwei Mobil...,42576,60972
2,Junior Data Scientist (m/f/x),TUI Cruises is one of the leading cruise provi...,"Analyze large, complex datasets to extract ins...","Bachelor’s degree in Computer Science, Data Sc...",A flexible working time culture with two mobil...,42576,60972
3,(Junior) Data Scientist / Data Analyst (w/m/d),Mit rund 15 Mio. Kundenverträgen und 3.200 Mit...,"Für unsere Abteilung ""Customer Decisioning"" su...",Gute Deutschkenntnisse in Wort und Schrift Er...,Attraktives Gehalt Vertrauensarbeitszeit mit ...,46452,73548
4,Junior Data Scientist (m/w/d) – Risikomodelle,Die Sparkassen Rating und Risikosysteme (SR) i...,Mitarbeit an Gremien- oder Kundenprojekten im ...,Abgeschlossenes Studium (ggf. Promotion) im Be...,Eine unbefristete Tätigkeit in einem hoch vers...,44520,61932
...,...,...,...,...,...,...,...
3598,(Junior) Analyst Anti-Financial Crime (AFC) (m...,Wir sind heute [movers] und morgen [shapers].A...,Du bringst Deine Erfahrung aus dem Studium / a...,Eine erfolgreich abgeschlossene Ausbildung zum...,Weiterbildung: umfangreiche fachliche und meth...,36780,52260
3599,(Junior) Process Analyst - Customer Service (m...,Wir sind eines der führenden Home-Healthcare-U...,Verantwortlicher Ansprechpartner und Koordinat...,"Bachelor in betriebswirtschaftlichem Bereich, ...",Ankommen leicht gemacht: Wir legen großen Wert...,44520,73548
3600,Structured Finance Data Analyst (m/f/d) Native...,Converting Data into Market Trust European Dat...,Develop and maintain close relationships with ...,Bachelor degree in Finance /Economics /Banking...,The opportunity to work in a data-driven marke...,41616,67740
3601,"Senior Business Analyst (m/w/d) Regulatory, Da...","HSBC Deutschland ist Teil der HSBC-Gruppe, ein...",Wir suchen Kollegen (m/w/d) mit Persönlichkeit...,Sie verfügen über ein erfolgreich abgeschlosse...,Work-Life Balance: Flexible Arbeitszeitmodelle...,62904,84192
3602,(Junior) IT-Business-Analyst*in für unsere Wer...,Union Investment ist bekannt für eine herausra...,Als (Junior) IT- Business-Analyst*in sind Sie ...,Erfolgreich abgeschlossene IT-Ausbildung oder ...,Neben unserem attraktiven Arbeitsumfeld gibt e...,52260,76452

In [32]:
jobs["full_text"] = (
    jobs["title"] + " "
    + jobs["introduction"] + " "
    + jobs["description"] + " "
    + jobs["profile"] + " "
    + jobs["we_offer"]
)

In [26]:
jobs["category"].value_counts(normalize=True)

category
Data Analyst           0.516102
Data Engineer          0.110893
Management/Teamlead    0.104733
Data Scientist         0.076729
Andere                 0.063568
Consultant             0.050966
Data Protection        0.023803
Data Architekt         0.020722
Product Owner          0.010641
Data Warehouse         0.010361
Datenbank              0.007841
Systemadministrator    0.001960
Praktikum/Student      0.001120
Trainee                0.000560
Name: proportion, dtype: float64

In [33]:
X = jobs["full_text"]
y_min = jobs["gehalt_min_yearly"]
y_max = jobs["gehalt_max_yearly"]